@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
 :root {
    --gradient: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    --red: #f00000;
    --rouge-clair: #ff0000;
    --green: #130f40;
    --light-color: #666;
    --noir: #000;
    --blue: #0abde3;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--rouge-clair);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}


/**

   // Mouvement zoom pour les encres

*/

html::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}


/**

   // Mouvement zoom pour les encres

*/

html {
    scroll-behavior: smooth;
}


/**

   // bouton du site

*/

.bouton {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--green);
    border: var(--blue);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.bouton:hover {
    background: var(--red);
    letter-spacing: .1rem;
    border: 10px solid var(--red);
}


/**

   // en-tête

*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--noir);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--red);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--green);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--red);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}


/**

   // titre des ancres

*/

.grd-titre {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 5rem;
    font-size: 5rem;
    color: var(--green);
}

.grd-titre span {
    position: relative;
    z-index: 0;
}

.grd-titre span::before {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--red);
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
    z-index: -1;
}


/**

   // recherche

*/

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--red);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}


/**

   //  accueil 

*/

.accueil {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    margin-top: 9em;
}

.accueil .flip,
.accueil span {
    color: rgb(255, 255, 255);
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.accueil span {
    background: #00000038;
}

.flip {
    height: 70px;
    overflow: hidden;
    text-align: center;
}

.accueil .flip>div>div {
    height: 70px;
    padding: 4px 12px;
    margin-bottom: 23px;
    display: inline-block;
}

.accueil .flip div:first-child {
    animation: show-slogan-rosto 5s linear infinite;
}

.accueil .flip div div {
    background: #08683d;
}

.accueil .flip div:first-child div {
    background: #ecb911;
}

.accueil .flip div:last-child div {
    background: #ff0000;
}

@keyframes show-slogan-rosto {
    0% {
        margin-top: -260px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -80px;
    }
    66% {
        margin-top: -80px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -260px;
    }
}

.accueil .contenu-1 {
    text-align: center;
}

.accueil .contenu-1 h3 {
    margin-top: 3rem;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.accueil .contenu-1 p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.accueil .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.accueil .controls {
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .7);
    position: relative;
    top: 10rem;
}

.accueil .controls .vid-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.accueil .controls .vid-btn.active {
    background: var(--red);
}


/**

   // services

*/

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background: #fff;
}

.services .box-container .box img {
    height: 20rem;
}

.services .box-container .box h3 {
    font-size: 2.3rem;
    color: var(--black);
}

.services .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
}


/**

   //competences 

*/

.competences .comp-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    background: #fff;
}

.competences .comp-row .image {
    flex: 1 1 45rem;
}

.competences .comp-row .image img {
    width: 100%;
}

.competences .comp-row .content {
    flex: 1 1 45rem;
}

.competences .comp-row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.competences .comp-row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.competences .comp-row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.competences .comp-row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.competences .comp-row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}

.competences .comp-row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}


/**

   // review

*/

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.review .box-container .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    font-size: 2.3rem;
    color: var(--black);
    padding-top: 1rem;
}

.review .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.review .box-container .box .stars {
    padding-top: .5rem;
}

.review .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--blue);
}


/**

   // contact

*/

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image {
    flex: 1 1 42rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 42rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    background: #fff;
    height: auto;
    width: 20%;
    min-width: 150px;
    max-width: 450px;
}

.contact .row form h3 {
    color: var(--green);
    font-size: 3rem;
}

.contact .row form .box {
    width: 88%;
    margin: .8rem 0;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: var(--border);
    text-transform: none;
    font-size: 2rem;
}

.contact .row form .box:focus,
.contact .row form .box:hover {
    border-color: var(--blue);
}

.contact .row form textarea {
    height: 29rem;
    resize: none;
}

.contact .row button.rosto {
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 10px;
    /* display: inline-block; */
    font-size: 1.7rem;
    color: #fff;
    background: var(--green);
    border: var(--blue);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.contact .row button.rosto:hover {
    background: var(--red);
    letter-spacing: .1rem;
    border: 10px solid var(--red);
}


/**

   // media queries

*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 1rem 2rem;
    }
    html::-webkit-scrollbar-thumb {
        background: var(--red);
        border-radius: 5rem;
    }
    html::-webkit-scrollbar {
        width: 1rem;
    }
    html::-webkit-scrollbar-track {
        background: #fff;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    header .icons #menu-bars {
        display: inline-block;
    }
    html::-webkit-scrollbar-thumb {
        background: var(--red);
        border-radius: 5rem;
    }
    html::-webkit-scrollbar {
        width: 1rem;
    }
    html::-webkit-scrollbar-track {
        background: #fff;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    html::-webkit-scrollbar-thumb {
        background: var(--red);
        border-radius: 5rem;
    }
    html::-webkit-scrollbar {
        width: 1rem;
    }
    html::-webkit-scrollbar-track {
        background: #fff;
    }
    .services .box-container .box img {
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input {
        width: 100%;
    }
}


/**

   // chargement du site

*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: lightgrey;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disppear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* Editable */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
}

.sk-three-bounce {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.sk-three-bounce .sk-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/**

   // scroll du site

*/


/* 
#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 12rem)
} */